@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos a Locadora TRW</h1>
    
    <div style="margin-top:20px">
        <h4>Utilize o menu superior para a navegação!</h4>
    </div>
    
</div>
